html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

::selection {
  background-color: #2653AB;
  color: #fff;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #2653AB;
}

.scroll_to_top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: rgba(51, 51, 51, 0.85);
  z-index: 500;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: none;
  transition: 0.5s all ease-in-out;
}

.main_app_section_title .title {
  color: #2653AB;
  margin-bottom: 0;
  font-size: 36px;
  font-weight: bold;
}
.main_app_section_title .text_title {
  color: #9B9B9B;
  font-weight: 300;
  line-height: 32px;
  margin: 0;
  font-size: 20px;
}
.main_app_section_title.what_we_do {
  text-align: center;
}
.main_app_section_title.what_we_do .title {
  color: #333333;
}
.main_app_section_title.cases .title {
  color: #333333;
}
.main_app_section_title.team {
  text-align: center;
}
.main_app_section_title.team .title,
.main_app_section_title.team .text_title {
  color: #fff;
}

.global_button_link {
  color: #fff;
  background-color: #2653AB;
  width: 154px;
  height: 48px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.5s all ease-in-out;
  text-transform: uppercase;
  font-weight: 500;
}
.global_button_link:hover {
  opacity: 0.8;
  color: #fff;
}
.global_button_link.is_job {
  min-width: 220px;
  margin: 20px auto 0;
}

.global_view_all_items {
  transition: 0.5s all ease-in-out;
  font-size: 17px;
  font-weight: 500;
}
.global_view_all_items .link {
  color: #2653AB;
  text-decoration: none;
}
.global_view_all_items:hover {
  transform: translateX(8px);
  color: #2653AB;
}

.main_app_header {
  background-color: #fff;
  background-image: url("../../images/icons/nav bar.png");
  background-size: cover;
}

.hero_section_wrapper {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero_section_wrapper .img {
  max-height: 100%;
}

.about_us_wrapper {
  padding: 70px 0;
}
.about_us_wrapper .img_container {
  display: flex;
  justify-content: end;
}
.about_us_wrapper .img_container .img {
  max-width: 475px;
  width: 100%;
  max-height: 444px;
}
.about_us_wrapper .about_content {
  margin-top: 30px;
}
.about_us_wrapper .about_content .texts {
  color: #333333;
  line-height: 32px;
  font-size: 15px;
}

.what_we_do_wrapper {
  padding-bottom: 70px;
}
.what_we_do_wrapper .every_do {
  background-color: #F5F5F6;
  border-radius: 32px;
  padding: 30px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 30px;
  min-height: 200px;
}
.what_we_do_wrapper .every_do .title {
  color: #333333;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}
.what_we_do_wrapper .every_do .title.with_color {
  color: #2653AB;
}
.what_we_do_wrapper .every_do .dexcription {
  line-height: 32px;
  font-size: 15px;
  margin: 0;
  color: #9E9E9E;
}

.our_team_wrapper {
  padding: 70px 0;
  margin: 70px 0;
  background-image: url("../../images/icons/team.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.our_team_wrapper .all_team_members {
  margin-top: 50px;
}
.our_team_wrapper .all_team_members .team_card .img_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.our_team_wrapper .all_team_members .team_card .img_wrapper .dashed_border {
  position: absolute;
}
.our_team_wrapper .all_team_members .team_card .img_wrapper .member_img {
  display: block;
  width: 152px;
  height: 152px;
  border-radius: 50%;
}
.our_team_wrapper .all_team_members .team_card .content {
  color: #fff;
  text-align: center;
}
.our_team_wrapper .all_team_members .team_card .content .name {
  margin: 20px 0 5px;
  font-size: 20px;
  line-height: 30px;
}
.our_team_wrapper .all_team_members .team_card .content .job {
  font-size: 18px;
  margin-bottom: 5px;
}
.our_team_wrapper .all_team_members .team_card .content .info {
  line-height: 32px;
  font-size: 15px;
  margin: 0;
  color: rgba(255, 255, 255, 0.7);
}

.our_services_wrapper {
  padding-bottom: 70px;
}
.our_services_wrapper .nav-tabs {
  margin-top: 30px;
  justify-content: center !important;
  border: none;
  gap: 30px;
}
.our_services_wrapper .nav-tabs .nav-item .nav-link {
  border: 1px solid #adadad;
  color: #adadad;
  border-radius: 5px;
  transition: 0.5s all ease-in-out;
}
.our_services_wrapper .nav-tabs .nav-item .nav-link.active, .our_services_wrapper .nav-tabs .nav-item .nav-link:hover {
  background-color: #FFBA30;
  border-color: #FFBA30;
  color: #fff;
}
.our_services_wrapper .tab-content {
  margin-top: 30px;
}
.our_services_wrapper .tab-content .all_services_cards .every_service {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  padding: 10px;
  border-radius: 10px;
  transition: 0.5s all ease-in-out;
}
.our_services_wrapper .tab-content .all_services_cards .every_service .img_wrapper .img {
  width: 262px;
  height: 202px;
  display: block;
  margin: auto;
  transition: 0.5s all ease-in-out;
}
.our_services_wrapper .tab-content .all_services_cards .every_service .content {
  padding: 10px 0;
  text-align: center;
}
.our_services_wrapper .tab-content .all_services_cards .every_service .content .title {
  color: #333333;
  font-weight: bold;
  font-size: 21px;
  line-height: 27px;
  margin-top: 15px;
}
.our_services_wrapper .tab-content .all_services_cards .every_service .content .description {
  line-height: 20px;
  margin: 15px 0 20px;
  font-size: 12px;
  color: #9B9B9B;
}
.our_services_wrapper .tab-content .all_services_cards .every_service:hover {
  box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.1);
}
.our_services_wrapper .tab-content .all_services_cards .every_service:hover .img_wrapper .img {
  filter: brightness(0.85);
}

.banking_consultancy_wrapper {
  padding-bottom: 70px;
}
.banking_consultancy_wrapper .banking_content {
  margin-top: 30px;
}
.banking_consultancy_wrapper .banking_content .content .title {
  color: #333333;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}
.banking_consultancy_wrapper .banking_content .content .dexcription {
  line-height: 32px;
  font-size: 17px;
  margin: 0;
  color: #9E9E9E;
}
.banking_consultancy_wrapper .banking_content .content .title_two {
  color: #9B9B9B;
  font-size: 20px;
  margin: 20px 0;
}
.banking_consultancy_wrapper .banking_content .content .tags_list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.banking_consultancy_wrapper .banking_content .content .tags_list .every_item {
  background-color: #F5F5F6;
  color: #2653AB;
  padding: 10px 30px;
  border-radius: 25px;
}

.case_studies_wrapper {
  padding-bottom: 70px;
}
.case_studies_wrapper .all_case_studies {
  margin-top: 30px;
}
.case_studies_wrapper .all_case_studies .every_case {
  position: relative;
  overflow: hidden;
  transition: 0.5s all ease-in-out;
  max-height: 550px;
  border-radius: 32px;
  width: 400px;
  margin: 0 auto 30px;
}
.case_studies_wrapper .all_case_studies .every_case .image_wrapper {
  overflow: hidden;
}
.case_studies_wrapper .all_case_studies .every_case .image_wrapper .img {
  display: block;
  width: 100%;
  border-radius: 32px;
  transition: 0.5s all ease-in-out;
}
.case_studies_wrapper .all_case_studies .every_case .case_content {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px 20px;
  background-color: rgba(40, 41, 62, 0.5);
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  color: #fff;
  transition: 0.5s all ease-in-out;
  opacity: 0;
}
.case_studies_wrapper .all_case_studies .every_case .case_content .title {
  margin: 0;
  font-size: 20px;
  line-height: 32px;
}
.case_studies_wrapper .all_case_studies .every_case .case_content .text {
  line-height: 20px;
  font-size: 13px;
  margin: 10px 0 15px;
}
.case_studies_wrapper .all_case_studies .every_case:hover .case_content {
  opacity: 1;
}
.case_studies_wrapper .all_case_studies .every_case:hover .img {
  filter: brightness(0.7);
  transform: scale(1.1);
}

.jobs_wrapper {
  padding: 70px 0;
  background-color: #F5F5F6;
}
.jobs_wrapper .all_jobs {
  margin-top: 30px;
}
.jobs_wrapper .all_jobs .every_job {
  background-color: #fff;
  border-radius: 32px;
  padding: 20px;
  display: flex;
  gap: 20px;
  min-height: 170px;
  margin-bottom: 30px;
}
.jobs_wrapper .all_jobs .every_job .job_icon {
  background-color: rgba(38, 83, 171, 0.2);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  border-radius: 21px;
  opacity: 0.5;
}
.jobs_wrapper .all_jobs .every_job .job_icon .img {
  width: 33px;
  height: 33px;
}
.jobs_wrapper .all_jobs .every_job .job_content {
  flex-grow: 1;
}
.jobs_wrapper .all_jobs .every_job .job_content .position {
  font-size: 20px;
  margin: 0;
  line-height: 30px;
}
.jobs_wrapper .all_jobs .every_job .job_content .status {
  display: flex;
  gap: 10px;
}
.jobs_wrapper .all_jobs .every_job .job_content .status.for_margin {
  margin: 15px 0;
}
.jobs_wrapper .all_jobs .every_job .job_content .with_arrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.jobs_wrapper .all_jobs .every_job .job_content .with_arrow .arrow_link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: #f1f1f1;
  transition: 0.5s all ease-in-out;
}
.jobs_wrapper .all_jobs .every_job .job_content .with_arrow .arrow_link:hover {
  background-color: #2653AB;
}

.partners_wrapper {
  padding: 70px 0;
}
.partners_wrapper .all_partners {
  margin: 30px 0;
}
.partners_wrapper .all_partners .every_partner {
  display: flex;
  align-items: center;
  gap: 20px;
}
.partners_wrapper .all_partners .every_partner .img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  display: block;
  box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.1);
}
.partners_wrapper .all_partners .every_partner .content .title {
  color: #333333;
  font-weight: bold;
  font-size: 20px;
}
.partners_wrapper .all_partners .every_partner .content .description {
  line-height: 20px;
  font-size: 13px;
  margin: 10px 0;
  color: #9E9E9E;
  max-width: 90%;
  width: 100%;
}

.main_app_footer .main_footer_content {
  padding: 70px 0;
  background-image: url("../../images//icons/footer.png");
  background-size: cover;
}
.main_app_footer .main_footer_content .text {
  color: #9E9E9E;
}
.main_app_footer .main_footer_content .title {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 5px;
}
.main_app_footer .main_footer_content .title.contact_title {
  color: #FFBA30;
  font-size: 25px;
}
.main_app_footer .main_footer_content .get_in_touch {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 30px;
}
.main_app_footer .main_footer_content .footer_content .footer_form .input_wrapper {
  margin-bottom: 15px;
}
.main_app_footer .main_footer_content .footer_content .footer_form .input_wrapper.for_answer {
  width: 60px;
  margin-bottom: 0;
}
.main_app_footer .main_footer_content .footer_content .footer_form .form_input {
  width: 100%;
  padding: 10px;
  border: 1px solid #9E9E9E;
  background: none;
  outline: none;
  color: #fff;
  border-radius: 5px;
  height: 48px;
}
.main_app_footer .main_footer_content .footer_content .footer_form .form_input::placeholder {
  color: #9E9E9E;
}
.main_app_footer .main_footer_content .footer_content .footer_form .form_input.text_area {
  height: 120px;
  resize: none;
}
.main_app_footer .main_footer_content .footer_content .footer_form .form_action {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.main_app_footer .main_footer_content .footer_content .footer_form .form_action .write_answer {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 20px;
}
.main_app_footer .main_footer_content .footer_content .footer_form .form_action .write_answer .the_question {
  display: flex;
  align-items: center;
  gap: 10px;
}
.main_app_footer .main_footer_content .footer_content input[type=number]::-webkit-outer-spin-button,
.main_app_footer .main_footer_content .footer_content input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.main_app_footer .main_footer_content .footer_content .submit_button {
  min-width: 150px;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  justify-content: center;
  background-color: #2653AB;
  color: #fff;
  border: 1px solid #2653AB;
  border-radius: 5px;
}
.main_app_footer .main_footer_content .footer_content .contacts .info_list .info_item {
  display: flex;
  color: #fff;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
}
.main_app_footer .main_footer_content .footer_content .contacts .info_list .info_item .info_wrapper {
  font-size: 14px;
}
.main_app_footer .main_footer_content .footer_content .contacts .info_list .info_item .info_wrapper .link {
  text-decoration: none;
  color: #fff;
}
.main_app_footer .copyright_container {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 10px;
  color: #807272;
}
.main_app_footer .copyright_container .website_link {
  color: #2653AB;
  font-weight: 500;
  text-decoration: none;
}/*# sourceMappingURL=home.css.map */