html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

::selection {
  background-color: #2653AB;
  color: #fff;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #2653AB;
}

.scroll_to_top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: rgba(51, 51, 51, 0.85);
  z-index: 500;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: none;
  transition: 0.5s all ease-in-out;
}

.main_app_section_title .title {
  color: #2653AB;
  margin-bottom: 0;
  font-size: 36px;
  font-weight: bold;
}
.main_app_section_title .text_title {
  color: #9B9B9B;
  font-weight: 300;
  line-height: 32px;
  margin: 0;
  font-size: 20px;
}
.main_app_section_title.what_we_do {
  text-align: center;
}
.main_app_section_title.what_we_do .title {
  color: #333333;
}
.main_app_section_title.cases .title {
  color: #333333;
}
.main_app_section_title.team {
  text-align: center;
}
.main_app_section_title.team .title,
.main_app_section_title.team .text_title {
  color: #fff;
}

.global_button_link {
  color: #fff;
  background-color: #2653AB;
  width: 154px;
  height: 48px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.5s all ease-in-out;
  text-transform: uppercase;
  font-weight: 500;
}
.global_button_link:hover {
  opacity: 0.8;
  color: #fff;
}
.global_button_link.is_job {
  min-width: 220px;
  margin: 20px auto 0;
}

.global_view_all_items {
  transition: 0.5s all ease-in-out;
  font-size: 17px;
  font-weight: 500;
}
.global_view_all_items .link {
  color: #2653AB;
  text-decoration: none;
}
.global_view_all_items:hover {
  transform: translateX(8px);
  color: #2653AB;
}

.google_map_wrapper {
  padding-bottom: 70px;
}
.google_map_wrapper .our_location {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 50px;
}
@media (min-width: 320px) and (max-width: 991px) {
  .google_map_wrapper .our_location {
    padding: 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .google_map_wrapper .our_location {
    margin-top: 20px;
  }
}
.google_map_wrapper .our_location .img {
  margin-bottom: 30px;
}

.main_app_header {
  background-image: url("../../images/icons/nav bar.png");
  background-size: cover;
}
.main_app_header .main_nav_wrappr .navbar-nav {
  flex-grow: 1;
  justify-content: center;
}
.main_app_header .main_nav_wrappr .navbar-nav .nav-item {
  padding: 0 5px;
}
.main_app_header .main_nav_wrappr .navbar-nav .nav-item .nav-link {
  color: #333333;
  font-weight: 400;
  font-size: 16px;
}
.main_app_header .main_nav_wrappr .navbar-nav .nav-item .nav-link.active {
  color: #2653AB;
  font-weight: 600;
}
.main_app_header .main_nav_wrappr .wrapper_contact_language {
  display: flex;
  align-items: center;
  gap: 10px;
}
.main_app_header .main_nav_wrappr .wrapper_contact_language .contact_link {
  display: flex;
  align-items: center;
  color: #333333;
  text-decoration: none;
  gap: 5px;
}
.main_app_header .main_nav_wrappr .wrapper_contact_language .change_language_dropdown .language_btn {
  box-shadow: none;
  border-radius: 10px;
  background-color: rgba(40, 41, 62, 0.1);
}
.main_app_header .main_nav_wrappr .wrapper_contact_language .change_language_dropdown .language_btn::after {
  display: none;
}
.main_app_header .main_nav_wrappr .wrapper_contact_language .dropdown_menu_language {
  border: none;
  min-width: 5rem;
  border-radius: 10px;
}
.main_app_header .main_nav_wrappr .wrapper_contact_language .dropdown_menu_language .dropdown-item {
  transition: 0.5s all ease-in-out;
  text-align: center;
}
.main_app_header .main_nav_wrappr .wrapper_contact_language .dropdown_menu_language .dropdown-item:hover {
  background-color: #2653AB;
  color: #fff;
}
.main_app_header .main_nav_wrappr .cutomer_service_dropdown_wrapper .service_cutomer_btn {
  display: flex;
  gap: 3px;
}
.main_app_header .main_nav_wrappr .cutomer_service_dropdown_wrapper .service_cutomer_btn::after {
  display: none !important;
}
.main_app_header .main_nav_wrappr .cutomer_service_dropdown_wrapper .service_cutomer_btn .arrow_active {
  display: none;
}
.main_app_header .main_nav_wrappr .cutomer_service_dropdown_wrapper .service_cutomer_btn .arrow_not_active {
  display: block;
}
.main_app_header .main_nav_wrappr .cutomer_service_dropdown_wrapper .service_cutomer_btn.show .arrow_not_active {
  display: none;
}
.main_app_header .main_nav_wrappr .cutomer_service_dropdown_wrapper .service_cutomer_btn.show .arrow_active {
  display: block;
}
.main_app_header .main_nav_wrappr .cutomer_service_dropdown_wrapper .cutomer_service_dropdown {
  border: none;
  border-radius: 10px;
}
.main_app_header .main_nav_wrappr .cutomer_service_dropdown_wrapper .cutomer_service_dropdown .dropdown-item {
  transition: 0.5s all ease-in-out;
}
.main_app_header .main_nav_wrappr .cutomer_service_dropdown_wrapper .cutomer_service_dropdown .dropdown-item:hover {
  background-color: #2653AB;
  color: #fff;
}
.main_app_header .navbar-toggler {
  background-color: #2653AB;
  box-shadow: none;
  outline: none;
}

.hero_section_wrapper {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero_section_wrapper .img_wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}
.hero_section_wrapper .img_wrapper .img {
  max-height: 100%;
  width: 100%;
  height: 100%;
}
@media (min-width: 1200px) {
  .hero_section_wrapper .csg_hero_slider {
    width: 48%;
  }
}
@media (min-width: 991px) and (max-width: 1200px) {
  .hero_section_wrapper .csg_hero_slider {
    width: 70%;
  }
}
@media (min-width: 320px) and (max-width: 991px) {
  .hero_section_wrapper .csg_hero_slider {
    width: 100%;
  }
}
.hero_section_wrapper .csg_hero_slider .every_card .title {
  color: #2653AB;
  line-height: 46px;
  font-size: 42px;
  font-weight: bold;
}
@media (min-width: 1200px) {
  .hero_section_wrapper .csg_hero_slider .every_card .title {
    font-size: 42px;
  }
}
@media (min-width: 991px) and (max-width: 1200px) {
  .hero_section_wrapper .csg_hero_slider .every_card .title {
    font-size: 35px;
  }
}
@media (min-width: 320px) and (max-width: 991px) {
  .hero_section_wrapper .csg_hero_slider .every_card .title {
    font-size: 20px;
  }
}
.hero_section_wrapper .csg_hero_slider .every_card .description {
  color: #9B9B9B;
  line-height: 25px;
  margin: 20px 0 30px;
  max-width: 85%;
}
@media meduim {
  .hero_section_wrapper .csg_hero_slider .every_card .description {
    max-width: 100%;
  }
}
.hero_section_wrapper .csg_hero_slider .slick-dots {
  display: flex;
  align-items: center;
  gap: 5px;
  bottom: -70px;
}
.hero_section_wrapper .csg_hero_slider .slick-dots li {
  width: 20px;
}
.hero_section_wrapper .csg_hero_slider .slick-dots li button {
  width: 20px;
}
.hero_section_wrapper .csg_hero_slider .slick-dots li button:before {
  width: 20px;
  height: 7px;
  border-radius: 10px;
  background: #FFBA30;
  opacity: 0.5;
  content: "";
}
.hero_section_wrapper .csg_hero_slider .slick-dots li.slick-active {
  width: 30px;
}
.hero_section_wrapper .csg_hero_slider .slick-dots li.slick-active button {
  width: 30px;
}
.hero_section_wrapper .csg_hero_slider .slick-dots li.slick-active button:before {
  width: 30px;
  opacity: 1;
}

.about_us_wrapper {
  padding: 70px 0;
}
.about_us_wrapper .img_container {
  display: flex;
  justify-content: end;
}
.about_us_wrapper .img_container .img {
  max-width: 475px;
  width: 100%;
  max-height: 444px;
  transition: 0.5s all ease-in-out;
}
.about_us_wrapper .img_container:hover .img {
  transform: translateY(-10px);
  filter: brightness(0.8);
}
.about_us_wrapper .about_content {
  margin-top: 30px;
}
.about_us_wrapper .about_content .texts {
  color: #333333;
  line-height: 32px;
  font-size: 15px;
}

.what_we_do_wrapper {
  padding-bottom: 70px;
}
.what_we_do_wrapper .every_do {
  background-color: #F5F5F6;
  border-radius: 32px;
  padding: 30px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 30px;
  min-height: 200px;
}
@media (min-width: 320px) and (max-width: 991px) {
  .what_we_do_wrapper .every_do {
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .what_we_do_wrapper .every_do {
    padding: 10px;
  }
}
@media (min-width: 320px) and (max-width: 991px) {
  .what_we_do_wrapper .every_do .content {
    text-align: center;
  }
}
.what_we_do_wrapper .every_do .content .title {
  color: #333333;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}
.what_we_do_wrapper .every_do .content .title.with_color {
  color: #2653AB;
}
.what_we_do_wrapper .every_do .content .dexcription {
  line-height: 32px;
  font-size: 15px;
  margin: 0;
  color: #9E9E9E;
}

.our_team_wrapper {
  padding: 70px 0;
  margin: 70px 0;
  background-image: url("../../images/icons/team.png");
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 320px) and (max-width: 991px) {
  .our_team_wrapper {
    background: #2653AB;
  }
}
.our_team_wrapper .all_team_members {
  margin-top: 50px;
}
.our_team_wrapper .all_team_members .team_card {
  transition: 0.5s all ease-in-out;
  padding: 30px 0 20px 0;
}
.our_team_wrapper .all_team_members .team_card .img_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.our_team_wrapper .all_team_members .team_card .img_wrapper .dashed_border {
  position: absolute;
  transition: 0.5s all ease-in-out;
}
.our_team_wrapper .all_team_members .team_card .img_wrapper .member_img {
  display: block;
  width: 152px;
  height: 152px;
  border-radius: 50%;
}
.our_team_wrapper .all_team_members .team_card .content {
  color: #fff;
  text-align: center;
}
.our_team_wrapper .all_team_members .team_card .content .name {
  margin: 20px 0 5px;
  font-size: 20px;
  line-height: 30px;
}
.our_team_wrapper .all_team_members .team_card .content .job {
  font-size: 18px;
  margin-bottom: 5px;
}
.our_team_wrapper .all_team_members .team_card .content .info {
  line-height: 32px;
  font-size: 15px;
  margin: 0;
  color: rgba(255, 255, 255, 0.7);
}
.our_team_wrapper .all_team_members .team_card:hover {
  background-color: rgba(51, 51, 51, 0.5);
  border-radius: 15px;
}
.our_team_wrapper .all_team_members .team_card:hover .dashed_border {
  animation: rotation linear 3s infinite;
}

.our_services_wrapper {
  padding-bottom: 70px;
}
.our_services_wrapper .nav-tabs {
  margin-top: 30px;
  justify-content: center !important;
  border: none;
  gap: 30px;
}
.our_services_wrapper .nav-tabs .nav-item .nav-link {
  border: 1px solid #adadad;
  color: #adadad;
  border-radius: 5px;
  transition: 0.5s all ease-in-out;
}
@media (min-width: 320px) and (max-width: 480px) {
  .our_services_wrapper .nav-tabs .nav-item .nav-link {
    min-width: 252px;
  }
}
.our_services_wrapper .nav-tabs .nav-item .nav-link.active, .our_services_wrapper .nav-tabs .nav-item .nav-link:hover {
  background-color: #FFBA30;
  border-color: #FFBA30;
  color: #fff;
}
.our_services_wrapper .tab-content {
  margin-top: 30px;
}
.our_services_wrapper .tab-content .all_services_cards .every_service {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  padding: 10px;
  border-radius: 10px;
  transition: 0.5s all ease-in-out;
  margin-bottom: 20px;
}
.our_services_wrapper .tab-content .all_services_cards .every_service .img_wrapper .img {
  width: 100%;
  height: 220px;
  display: block;
  margin: auto;
  transition: 0.5s all ease-in-out;
  max-width: 100%;
}
.our_services_wrapper .tab-content .all_services_cards .every_service .content {
  padding: 10px 0;
  text-align: center;
}
.our_services_wrapper .tab-content .all_services_cards .every_service .content .title {
  color: #333333;
  font-weight: bold;
  font-size: 21px;
  line-height: 27px;
  margin-top: 15px;
}
.our_services_wrapper .tab-content .all_services_cards .every_service .content .description {
  line-height: 20px;
  margin: 15px 0 20px;
  font-size: 12px;
  color: #9B9B9B;
}
.our_services_wrapper .tab-content .all_services_cards .every_service:hover {
  box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.1);
}
.our_services_wrapper .tab-content .all_services_cards .every_service:hover .img_wrapper .img {
  filter: brightness(0.85);
}

.banking_consultancy_wrapper {
  padding-bottom: 70px;
}
.banking_consultancy_wrapper .banking_content {
  margin-top: 30px;
}
@media (min-width: 320px) and (max-width: 991px) {
  .banking_consultancy_wrapper .banking_content .img_wrapping {
    display: flex;
    justify-content: center;
  }
}
.banking_consultancy_wrapper .banking_content .img_wrapping .img {
  max-width: 100%;
  transition: 0.5s all ease-in-out;
}
.banking_consultancy_wrapper .banking_content .img_wrapping:hover .img {
  transform: translateY(-10px);
  filter: brightness(0.8);
}
@media (min-width: 320px) and (max-width: 991px) {
  .banking_consultancy_wrapper .banking_content .content {
    margin-top: 30px;
  }
}
.banking_consultancy_wrapper .banking_content .content .title {
  color: #333333;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}
.banking_consultancy_wrapper .banking_content .content .dexcription {
  line-height: 32px;
  font-size: 17px;
  margin: 0;
  color: #9E9E9E;
}
.banking_consultancy_wrapper .banking_content .content .title_two {
  color: #9B9B9B;
  font-size: 20px;
  margin: 20px 0;
}
.banking_consultancy_wrapper .banking_content .content .tags_list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.banking_consultancy_wrapper .banking_content .content .tags_list .every_item {
  background-color: #F5F5F6;
  color: #2653AB;
  padding: 10px 30px;
  border-radius: 25px;
}

.main_customers_wrapper {
  padding-bottom: 70px;
}
.main_customers_wrapper .csg_customers_slider .responsive .slick-list {
  padding: 40px 0;
}
.main_customers_wrapper .csg_customers_slider .responsive .every_customer .img_wrapper {
  padding: 30px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: auto;
  border-radius: 29px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  cursor: grab;
  transition: 0.5s all ease-in-out;
}
@media (min-width: 1200px) and (max-width: 1300px) {
  .main_customers_wrapper .csg_customers_slider .responsive .every_customer .img_wrapper {
    width: 250px;
  }
}
.main_customers_wrapper .csg_customers_slider .responsive .every_customer .img_wrapper:hover {
  box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.1);
}
.main_customers_wrapper .csg_customers_slider .responsive .every_customer .img {
  width: 202px;
  height: 93px;
  border-radius: 29px;
}
.main_customers_wrapper .csg_customers_slider .slick-prev {
  left: calc(50% - 38px);
}
.main_customers_wrapper .csg_customers_slider .slick-next {
  right: calc(50% - 38px);
}
.main_customers_wrapper .csg_customers_slider .slick-arrow {
  padding: 5px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2653AB;
  top: 100%;
}
.main_customers_wrapper .csg_customers_slider .slick-arrow::before {
  font-size: 16px;
}

.case_studies_wrapper {
  padding-bottom: 70px;
}
.case_studies_wrapper .all_case_studies {
  margin-top: 30px;
}
.case_studies_wrapper .all_case_studies .every_case {
  position: relative;
  overflow: hidden;
  transition: 0.5s all ease-in-out;
  max-height: 550px;
  border-radius: 32px;
  width: 400px;
  margin: 0 auto 30px;
  max-width: 100%;
}
.case_studies_wrapper .all_case_studies .every_case .image_wrapper {
  overflow: hidden;
}
.case_studies_wrapper .all_case_studies .every_case .image_wrapper .img {
  display: block;
  width: 100%;
  border-radius: 32px;
  transition: 0.5s all ease-in-out;
}
.case_studies_wrapper .all_case_studies .every_case .case_content {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px 20px;
  background-color: rgba(40, 41, 62, 0.5);
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  color: #fff;
  transition: 0.5s all ease-in-out;
  opacity: 0;
}
.case_studies_wrapper .all_case_studies .every_case .case_content .title {
  margin: 0;
  font-size: 20px;
  line-height: 32px;
}
.case_studies_wrapper .all_case_studies .every_case .case_content .text {
  line-height: 20px;
  font-size: 13px;
  margin: 10px 0 15px;
}
.case_studies_wrapper .all_case_studies .every_case:hover .case_content {
  opacity: 1;
}
.case_studies_wrapper .all_case_studies .every_case:hover .img {
  filter: brightness(0.7);
  transform: scale(1.1);
}

.jobs_wrapper {
  padding: 70px 0;
  background-color: #F5F5F6;
}
.jobs_wrapper .all_jobs {
  margin-top: 30px;
}
.jobs_wrapper .all_jobs .every_job {
  background-color: #fff;
  border-radius: 32px;
  padding: 20px;
  display: flex;
  gap: 20px;
  min-height: 170px;
  margin-bottom: 30px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .jobs_wrapper .all_jobs .every_job {
    flex-wrap: wrap;
  }
}
.jobs_wrapper .all_jobs .every_job .job_icon {
  background-color: rgba(38, 83, 171, 0.2);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  border-radius: 21px;
  opacity: 0.5;
}
.jobs_wrapper .all_jobs .every_job .job_icon .img {
  width: 33px;
  height: 33px;
}
.jobs_wrapper .all_jobs .every_job .job_content {
  flex-grow: 1;
}
.jobs_wrapper .all_jobs .every_job .job_content .position {
  font-size: 20px;
  margin: 0;
  line-height: 30px;
}
.jobs_wrapper .all_jobs .every_job .job_content .status {
  display: flex;
  gap: 10px;
}
.jobs_wrapper .all_jobs .every_job .job_content .status.for_margin {
  margin: 15px 0;
}
.jobs_wrapper .all_jobs .every_job .job_content .with_arrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.jobs_wrapper .all_jobs .every_job .job_content .with_arrow .arrow_link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: rgba(38, 83, 171, 0.4);
  transition: 0.5s all ease-in-out;
}
.jobs_wrapper .all_jobs .every_job .job_content .with_arrow .arrow_link:hover {
  background-color: #2653AB;
}

.partners_wrapper {
  padding: 70px 0;
}
.partners_wrapper .all_partners {
  margin-bottom: 30px;
}
.partners_wrapper .all_partners .every_partner {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .partners_wrapper .all_partners .every_partner {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.partners_wrapper .all_partners .every_partner .img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  display: block;
  box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.1);
}
.partners_wrapper .all_partners .every_partner .content .title {
  color: #333333;
  font-weight: bold;
  font-size: 20px;
}
.partners_wrapper .all_partners .every_partner .content .description {
  line-height: 20px;
  font-size: 13px;
  margin: 10px 0;
  color: #9E9E9E;
  max-width: 90%;
  width: 100%;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
.main_app_footer .main_footer_content {
  padding: 70px 0;
  background-image: url("../../images//icons/footer.png");
  background-size: cover;
}
.main_app_footer .main_footer_content .text {
  color: #9E9E9E;
}
.main_app_footer .main_footer_content .title {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 5px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .main_app_footer .main_footer_content .title {
    font-size: 30px;
  }
}
.main_app_footer .main_footer_content .title.contact_title {
  color: #FFBA30;
  font-size: 25px;
}
.main_app_footer .main_footer_content .get_in_touch {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 30px;
}
.main_app_footer .main_footer_content .footer_content .footer_form .input_wrapper {
  margin-bottom: 15px;
}
.main_app_footer .main_footer_content .footer_content .footer_form .input_wrapper.for_answer {
  width: 60px;
  margin-bottom: 0;
}
.main_app_footer .main_footer_content .footer_content .footer_form .form_input {
  width: 100%;
  padding: 10px;
  border: 1px solid #9E9E9E;
  background: none;
  outline: none;
  color: #fff;
  border-radius: 5px;
  height: 48px;
}
.main_app_footer .main_footer_content .footer_content .footer_form .form_input::placeholder {
  color: #9E9E9E;
}
.main_app_footer .main_footer_content .footer_content .footer_form .form_input.text_area {
  height: 120px;
  resize: none;
}
.main_app_footer .main_footer_content .footer_content .footer_form .form_action {
  display: flex;
  justify-content: end;
  margin-top: 10px;
}
.main_app_footer .main_footer_content .footer_content input[type=number]::-webkit-outer-spin-button,
.main_app_footer .main_footer_content .footer_content input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.main_app_footer .main_footer_content .footer_content .submit_button {
  min-width: 150px;
  height: 48px;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  justify-content: center;
  background-color: #2653AB;
  color: #fff;
  border: 1px solid #2653AB;
  border-radius: 5px;
}
@media (min-width: 320px) and (max-width: 991px) {
  .main_app_footer .main_footer_content .footer_content .contacts {
    margin-top: 30px;
  }
}
.main_app_footer .main_footer_content .footer_content .contacts .info_list .info_item {
  display: flex;
  color: #fff;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
}
.main_app_footer .main_footer_content .footer_content .contacts .info_list .info_item .info_wrapper {
  font-size: 14px;
}
.main_app_footer .main_footer_content .footer_content .contacts .info_list .info_item .info_wrapper .link {
  text-decoration: none;
  color: #fff;
}
.main_app_footer .copyright_container {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 10px;
  color: #807272;
  flex-wrap: wrap;
}
.main_app_footer .copyright_container .website_link {
  color: #2653AB;
  font-weight: 500;
  text-decoration: none;
}/*# sourceMappingURL=home.css.map */