html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

::selection {
  background-color: #2653AB;
  color: #fff;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #2653AB;
}

.scroll_to_top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: rgba(51, 51, 51, 0.85);
  z-index: 500;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: none;
  transition: 0.5s all ease-in-out;
}

.main_app_section_title .title {
  color: #2653AB;
  margin-bottom: 0;
  font-size: 36px;
  font-weight: bold;
}
.main_app_section_title .text_title {
  color: #9B9B9B;
  font-weight: 300;
  line-height: 32px;
  margin: 0;
  font-size: 20px;
}
.main_app_section_title.what_we_do {
  text-align: center;
}
.main_app_section_title.what_we_do .title {
  color: #333333;
}
.main_app_section_title.cases .title {
  color: #333333;
}
.main_app_section_title.team {
  text-align: center;
}
.main_app_section_title.team .title,
.main_app_section_title.team .text_title {
  color: #fff;
}

.global_button_link {
  color: #fff;
  background-color: #2653AB;
  width: 154px;
  height: 48px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.5s all ease-in-out;
  text-transform: uppercase;
  font-weight: 500;
}
.global_button_link:hover {
  opacity: 0.8;
  color: #fff;
}
.global_button_link.is_job {
  min-width: 220px;
  margin: 20px auto 0;
}

.global_view_all_items {
  transition: 0.5s all ease-in-out;
  font-size: 17px;
  font-weight: 500;
}
.global_view_all_items .link {
  color: #2653AB;
  text-decoration: none;
}
.global_view_all_items:hover {
  transform: translateX(8px);
  color: #2653AB;
}

.google_map_wrapper {
  padding-bottom: 70px;
}
.google_map_wrapper .our_location {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 50px;
}
@media (min-width: 320px) and (max-width: 991px) {
  .google_map_wrapper .our_location {
    padding: 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .google_map_wrapper .our_location {
    margin-top: 20px;
  }
}
.google_map_wrapper .our_location .img {
  margin-bottom: 30px;
}

.main_app_header {
  background-size: cover;
  background-color: #fff;
  background-image: url("../../images/icons/nav bar.png");
  background-image: url("../../images/icons/nav bar.png"), linear-gradient(to right, #b8c2d7, #C1CADA, #E8DDC5);
}
.main_app_header .main_nav_wrappr .navbar-nav {
  flex-grow: 1;
  justify-content: center;
}
.main_app_header .main_nav_wrappr .navbar-nav .nav-item {
  padding: 0 5px;
}
@media (min-width: 992px) and (max-width: 1300px) {
  .main_app_header .main_nav_wrappr .navbar-nav .nav-item {
    padding: 0;
  }
}
@media (min-width: 320px) and (max-width: 991px) {
  .main_app_header .main_nav_wrappr .navbar-nav .nav-item {
    margin-bottom: 10px;
  }
}
.main_app_header .main_nav_wrappr .navbar-nav .nav-item .nav-link {
  color: #333333;
  font-weight: 400;
  font-size: 16px;
  padding: 0 5px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .main_app_header .main_nav_wrappr .navbar-nav .nav-item .nav-link {
    font-size: 13px;
  }
}
.main_app_header .main_nav_wrappr .navbar-nav .nav-item .nav-link.active {
  color: #2653AB;
  font-weight: 600;
}
.main_app_header .main_nav_wrappr .wrapper_contact_language {
  display: flex;
  align-items: center;
  gap: 10px;
}
.main_app_header .main_nav_wrappr .wrapper_contact_language .contact_link {
  display: flex;
  align-items: center;
  color: #333333;
  text-decoration: none;
  gap: 5px;
  font-size: 16px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .main_app_header .main_nav_wrappr .wrapper_contact_language .contact_link {
    font-size: 13px;
  }
}
.main_app_header .main_nav_wrappr .wrapper_contact_language .change_language_dropdown .language_btn {
  box-shadow: none;
  border-radius: 10px;
  background-color: rgba(40, 41, 62, 0.1);
  font-size: 16px;
}
.main_app_header .main_nav_wrappr .wrapper_contact_language .change_language_dropdown .language_btn::after {
  display: none;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .main_app_header .main_nav_wrappr .wrapper_contact_language .change_language_dropdown .language_btn {
    font-size: 13px;
  }
}
.main_app_header .main_nav_wrappr .wrapper_contact_language .dropdown_menu_language {
  border: none;
  min-width: 5rem;
  border-radius: 10px;
}
.main_app_header .main_nav_wrappr .wrapper_contact_language .dropdown_menu_language .dropdown-item {
  transition: 0.5s all ease-in-out;
  text-align: center;
  font-size: 16px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .main_app_header .main_nav_wrappr .wrapper_contact_language .dropdown_menu_language .dropdown-item {
    font-size: 13px;
  }
}
.main_app_header .main_nav_wrappr .wrapper_contact_language .dropdown_menu_language .dropdown-item:hover {
  background-color: #2653AB;
  color: #fff;
}
.main_app_header .main_nav_wrappr .cutomer_service_dropdown_wrapper .service_cutomer_btn {
  display: flex;
  gap: 3px;
}
.main_app_header .main_nav_wrappr .cutomer_service_dropdown_wrapper .service_cutomer_btn::after {
  display: none !important;
}
.main_app_header .main_nav_wrappr .cutomer_service_dropdown_wrapper .service_cutomer_btn .arrow_active {
  display: none;
}
.main_app_header .main_nav_wrappr .cutomer_service_dropdown_wrapper .service_cutomer_btn .arrow_not_active {
  display: block;
}
.main_app_header .main_nav_wrappr .cutomer_service_dropdown_wrapper .service_cutomer_btn.show .arrow_not_active {
  display: none;
}
.main_app_header .main_nav_wrappr .cutomer_service_dropdown_wrapper .service_cutomer_btn.show .arrow_active {
  display: block;
}
.main_app_header .main_nav_wrappr .cutomer_service_dropdown_wrapper .cutomer_service_dropdown {
  border: none;
  border-radius: 10px;
}
.main_app_header .main_nav_wrappr .cutomer_service_dropdown_wrapper .cutomer_service_dropdown .dropdown-item {
  transition: 0.5s all ease-in-out;
}
.main_app_header .main_nav_wrappr .cutomer_service_dropdown_wrapper .cutomer_service_dropdown .dropdown-item:hover {
  background-color: #2653AB;
  color: #fff;
}
.main_app_header .main_nav_wrappr .cutomer_service_dropdown_wrapper .service_dropdown {
  border: none;
  border-radius: 10px;
  min-width: 350px;
  width: fit-content;
}
@media (min-width: 320px) and (max-width: 480px) {
  .main_app_header .main_nav_wrappr .cutomer_service_dropdown_wrapper .service_dropdown {
    min-width: 300px;
    width: 300px;
  }
}
.main_app_header .main_nav_wrappr .cutomer_service_dropdown_wrapper .service_dropdown .dropdown-item {
  transition: 0.5s all ease-in-out;
}
.main_app_header .main_nav_wrappr .cutomer_service_dropdown_wrapper .service_dropdown .dropdown-item:hover {
  background-color: #fff;
}
.main_app_header .main_nav_wrappr .cutomer_service_dropdown_wrapper .service_dropdown .dropdown-item .accordion .accordion-item {
  border: none;
}
.main_app_header .main_nav_wrappr .cutomer_service_dropdown_wrapper .service_dropdown .dropdown-item .accordion .accordion-item .accordion-button {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  box-shadow: none;
  color: #333333;
  font-weight: 500;
  padding: 10px 0;
  text-transform: capitalize;
  font-size: 16px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .main_app_header .main_nav_wrappr .cutomer_service_dropdown_wrapper .service_dropdown .dropdown-item .accordion .accordion-item .accordion-button {
    font-size: 13px;
  }
}
.main_app_header .main_nav_wrappr .cutomer_service_dropdown_wrapper .service_dropdown .dropdown-item .accordion .accordion-item .accordion-button::after {
  display: none;
}
.main_app_header .main_nav_wrappr .cutomer_service_dropdown_wrapper .service_dropdown .dropdown-item .accordion .accordion-item .accordion-button .img_show {
  display: block;
}
.main_app_header .main_nav_wrappr .cutomer_service_dropdown_wrapper .service_dropdown .dropdown-item .accordion .accordion-item .accordion-button .img_hide {
  display: none;
}
.main_app_header .main_nav_wrappr .cutomer_service_dropdown_wrapper .service_dropdown .dropdown-item .accordion .accordion-item .accordion-button:not(.collapsed) .img_show {
  display: none;
}
.main_app_header .main_nav_wrappr .cutomer_service_dropdown_wrapper .service_dropdown .dropdown-item .accordion .accordion-item .accordion-button:not(.collapsed) .img_hide {
  display: block;
}
.main_app_header .main_nav_wrappr .cutomer_service_dropdown_wrapper .service_dropdown .dropdown-item .accordion .accordion-item .accordion-body {
  padding: 0;
}
.main_app_header .main_nav_wrappr .cutomer_service_dropdown_wrapper .service_dropdown .dropdown-item .accordion .accordion-item .accordion-body .accordion_links {
  text-decoration: none;
  color: #9B9B9B;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 0.5s all ease-in-out;
  word-break: break-word;
  white-space: pre-line;
  font-size: 14px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .main_app_header .main_nav_wrappr .cutomer_service_dropdown_wrapper .service_dropdown .dropdown-item .accordion .accordion-item .accordion-body .accordion_links {
    font-size: 13px;
  }
}
.main_app_header .main_nav_wrappr .cutomer_service_dropdown_wrapper .service_dropdown .dropdown-item .accordion .accordion-item .accordion-body .accordion_links .bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #9B9B9B;
  transition: 0.5s all ease-in-out;
}
.main_app_header .main_nav_wrappr .cutomer_service_dropdown_wrapper .service_dropdown .dropdown-item .accordion .accordion-item .accordion-body .accordion_links:hover {
  background-color: #2653AB;
  color: #fff;
}
.main_app_header .main_nav_wrappr .cutomer_service_dropdown_wrapper .service_dropdown .dropdown-item .accordion .accordion-item .accordion-body .accordion_links:hover .bullet {
  border-color: #fff;
}
.main_app_header .navbar-toggler {
  background-color: #2653AB;
  box-shadow: none;
  outline: none;
  width: 40px;
  height: 35px;
  padding: 7px;
}
.main_app_header .navbar-toggler .line {
  height: 2px;
  width: 100%;
  background-color: #fff;
}
.main_app_header .navbar-toggler .line.line_1 {
  transform: translateY(-6px);
}
.main_app_header .navbar-toggler .line.line_3 {
  transform: translateY(6px);
}

.case_studies_wrapper {
  padding: 70px 0;
  margin-top: 90px;
}
.case_studies_wrapper .all_case_studies {
  margin-top: 30px;
}
.case_studies_wrapper .all_case_studies .every_case {
  position: relative;
  overflow: hidden;
  transition: 0.5s all ease-in-out;
  max-height: 550px;
  border-radius: 32px;
  width: 400px;
  margin: 0 auto 30px;
  max-width: 100%;
}
.case_studies_wrapper .all_case_studies .every_case .image_wrapper {
  overflow: hidden;
}
.case_studies_wrapper .all_case_studies .every_case .image_wrapper .img {
  display: block;
  width: 100%;
  border-radius: 32px;
  transition: 0.5s all ease-in-out;
}
.case_studies_wrapper .all_case_studies .every_case .case_content {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px 20px;
  background-color: rgba(40, 41, 62, 0.5);
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  color: #fff;
  transition: 0.5s all ease-in-out;
  opacity: 0;
}
.case_studies_wrapper .all_case_studies .every_case .case_content .title {
  margin: 0;
  font-size: 20px;
  line-height: 32px;
}
.case_studies_wrapper .all_case_studies .every_case .case_content .text {
  line-height: 20px;
  font-size: 13px;
  margin: 10px 0 15px;
}
.case_studies_wrapper .all_case_studies .every_case:hover .case_content {
  opacity: 1;
}
.case_studies_wrapper .all_case_studies .every_case:hover .img {
  filter: brightness(0.7);
  transform: scale(1.1);
}

.main_app_footer .main_footer_content {
  padding: 70px 0;
  background-image: url("../../images//icons/footer.png");
  background-size: cover;
}
.main_app_footer .main_footer_content .text {
  color: #9E9E9E;
}
.main_app_footer .main_footer_content .title {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 5px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .main_app_footer .main_footer_content .title {
    font-size: 30px;
  }
}
.main_app_footer .main_footer_content .title.contact_title {
  color: #FFBA30;
  font-size: 25px;
}
.main_app_footer .main_footer_content .get_in_touch {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 30px;
}
.main_app_footer .main_footer_content .footer_content .footer_form .input_wrapper {
  margin-bottom: 15px;
}
.main_app_footer .main_footer_content .footer_content .footer_form .input_wrapper.for_answer {
  width: 60px;
  margin-bottom: 0;
}
.main_app_footer .main_footer_content .footer_content .footer_form .form_input {
  width: 100%;
  padding: 10px;
  border: 1px solid #9E9E9E;
  background: none;
  outline: none;
  color: #fff;
  border-radius: 5px;
  height: 48px;
}
.main_app_footer .main_footer_content .footer_content .footer_form .form_input::placeholder {
  color: #9E9E9E;
}
.main_app_footer .main_footer_content .footer_content .footer_form .form_input.text_area {
  height: 120px;
  resize: none;
}
.main_app_footer .main_footer_content .footer_content .footer_form .form_action {
  display: flex;
  justify-content: end;
  margin-top: 10px;
}
.main_app_footer .main_footer_content .footer_content input[type=number]::-webkit-outer-spin-button,
.main_app_footer .main_footer_content .footer_content input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.main_app_footer .main_footer_content .footer_content .submit_button {
  min-width: 150px;
  height: 48px;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  justify-content: center;
  background-color: #2653AB;
  color: #fff;
  border: 1px solid #2653AB;
  border-radius: 5px;
}
@media (min-width: 320px) and (max-width: 991px) {
  .main_app_footer .main_footer_content .footer_content .contacts {
    margin-top: 30px;
  }
}
.main_app_footer .main_footer_content .footer_content .contacts .info_list .info_item {
  display: flex;
  color: #fff;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
}
.main_app_footer .main_footer_content .footer_content .contacts .info_list .info_item .info_wrapper {
  font-size: 14px;
}
.main_app_footer .main_footer_content .footer_content .contacts .info_list .info_item .info_wrapper .link {
  text-decoration: none;
  color: #fff;
}
.main_app_footer .copyright_container {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 10px;
  color: #807272;
  flex-wrap: wrap;
}
.main_app_footer .copyright_container .website_link {
  color: #2653AB;
  font-weight: 500;
  text-decoration: none;
}/*# sourceMappingURL=our_customers.css.map */