@import "../helpers//variables";
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
}

// Wbsite Default Selection For Any Words
::selection {
  background-color: $main_color;
  color: $white;
}

// Wbsite Default Scrollbar
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  // border-radius: 10px;
  background-color: $main_color;
  // height: 100px;
  // max-height: 100px;
}
::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 5px grey;
  //   border-radius: 2px;
}

// Scroll To Top Button
.scroll_to_top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: rgba($title_color, 0.85);
  z-index: 500;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: none;
  transition: $transiton;
}

.main_app_section_title {
  .title {
    color: $main_color;
    margin-bottom: 0;
    font-size: 36px;
    font-weight: bold;
  }
  .text_title {
    color: $title_text_color;
    font-weight: 300;
    line-height: $main_line_height;
    margin: 0;
    font-size: 20px;
  }

  &.what_we_do {
    text-align: center;
    .title {
      color: $title_color;
    }
  }
  &.cases {
    
    .title {
      color: $title_color;
    }
  }
  &.team {
    text-align: center;
    .title,
    .text_title {
      color: $white;
    }
  }
}

// Global Link Style
.global_button_link {
  color: $white;
  background-color: $main_color;
  width: 154px;
  height: 48px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: $transiton;
  text-transform: uppercase;
  font-weight: 500;
  &:hover {
    opacity: 0.8;
    color: $white;
  }
  &.is_job{
    min-width: 220px;
    margin: 20px auto 0;
  }
}

.global_view_all_items{
  
  transition: $transiton;
  font-size: 17px;
  font-weight: 500;
  .link{
    color: $main_color;
    text-decoration: none;
  }
  &:hover{
    transform: translateX(8px);
    color: $main_color;
  }
}


// media
//   @media #{$navbartoggler} {
//     color: red;
//   }
