// Start Hero Section
.hero_section_wrapper {
  // background-image: url('../../images/pages/header.png');
  height: 100vh;
  position: relative;
  // background-size: cover;
  .img {
    max-height: 100%;
  }
  display: flex;
  justify-content: center;
  align-items: center;
}
// End Hero Section

// Start About Us
.about_us_wrapper {
  padding: $main_padding 0;
  .img_container {
    display: flex;
    justify-content: end;
    .img {
      max-width: 475px;
      width: 100%;
      max-height: 444px;
    }
  }
  .about_content {
    margin-top: 30px;
    .texts {
      color: $title_color;
      line-height: $main_line_height;
      font-size: $p_font_size;
    }
  }
}
// End About Us

// Start What We Do
.what_we_do_wrapper {
  padding-bottom: $main_padding;
  .every_do {
    background-color: $we_do_bg_color;
    border-radius: 32px;
    padding: 30px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 30px;
    min-height: 200px;
    .title {
      color: $title_color;
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 10px;
      &.with_color {
        color: $main_color;
      }
    }
    .dexcription {
      line-height: $main_line_height;
      font-size: $p_font_size;
      margin: 0;
      color: $bg_color;
    }
  }
}
// End What We Do

// Start Our Team
.our_team_wrapper {
  padding: $main_padding 0;
  margin: $main_padding 0;
  background-image: url("../../images/icons/team.png");
  background-size: cover;
  background-repeat: no-repeat;
  // background-attachment: fixed;
  .all_team_members {
    margin-top: 50px;
    .team_card {
      .img_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .dashed_border {
          position: absolute;
        }
        .member_img {
          display: block;
          width: 152px;
          height: 152px;
          border-radius: 50%;
        }
      }
      .content {
        color: $white;
        text-align: center;
        .name {
          margin: 20px 0 5px;
          font-size: 20px;
          line-height: 30px;
        }
        .job {
          font-size: 18px;
          margin-bottom: 5px;
        }
        .info {
          line-height: $main_line_height;
          font-size: $p_font_size;
          margin: 0;
          color: rgba($white, 0.7);
        }
      }
    }
  }
}
// End Our Team

// Start Our Services
.our_services_wrapper {
  padding-bottom: $main_padding;
  .nav-tabs {
    margin-top: 30px;
    justify-content: center !important;
    border: none;
    gap: 30px;
    .nav-item {
      .nav-link {
        border: 1px solid $tabs_color;
        color: $tabs_color;
        border-radius: 5px;
        transition: $transiton;

        &.active,
        &:hover {
          background-color: $second_color;
          border-color: $second_color;
          color: $white;
        }
      }
    }
  }
  .tab-content {
    margin-top: 30px;
    .all_services_cards {
      .every_service {
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
        padding: 10px;
        border-radius: 10px;
        transition: $transiton;
        .img_wrapper{
          .img{
            width: 262px;
            height: 202px;
            display: block;
            margin: auto;
            transition: $transiton;
          }
        }
        .content {
          padding: 10px 0;
          text-align: center;
          .title {
            color: $title_color;
            font-weight: bold;
            font-size: $p_font_size + 6px;
            line-height: $main_line_height - 5px;
            margin-top: 15px;
          }
          .description {
            line-height: $main_line_height - 12px;
            margin: 15px 0 20px;
            font-size: $p_font_size - 3px;
            color: $title_text_color;
          }
        }
        &:hover{
          // background-color: $arrow_bg_color;
          box-shadow: $shadow;
          .img_wrapper{
            .img{
              filter: brightness(0.85);
            }
          }
        }
      }
    }
  }
}
// End Our Services

// Start Banking Consultancy
.banking_consultancy_wrapper {
  padding-bottom: $main_padding;
  .banking_content {
    margin-top: 30px;
    .content {
      .title {
        color: $title_color;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 10px;
      }
      .dexcription {
        line-height: $main_line_height;
        font-size: $p_font_size + 2px;
        margin: 0;
        color: $bg_color;
      }
      .title_two {
        color: $title_text_color;
        font-size: 20px;
        margin: 20px 0;
      }
      .tags_list {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        .every_item {
          background-color: $we_do_bg_color;
          color: $main_color;
          padding: 10px 30px;
          border-radius: 25px;
        }
      }
    }
  }
}
// End Banking Consultancy

// Start Case Studies
.case_studies_wrapper {
  padding-bottom: $main_padding;
  .all_case_studies {
    margin-top: 30px;
    .every_case {
      position: relative;
      overflow: hidden;
      transition: $transiton;
      max-height: 550px;
      border-radius: 32px;
      width: 400px;
      margin: 0 auto 30px;
      .image_wrapper {
        overflow: hidden;
        .img {
          display: block;
          width: 100%;
          border-radius: 32px;
          transition: $transiton;
        }
      }
      .case_content {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 20px 20px;
        background-color: rgba($case_bg_color, 0.5);
        border-bottom-left-radius: 32px;
        border-bottom-right-radius: 32px;
        color: $white;
        transition: $transiton;
        opacity: 0;
        .title {
          margin: 0;
          font-size: 20px;
          line-height: $main_line_height;
        }
        .text {
          line-height: $main_line_height - 12px;
          font-size: $p_font_size - 2px;
          margin: 10px 0 15px;
        }
      }
      &:hover {
        .case_content {
          opacity: 1;
        }
        .img {
          filter: brightness(0.7);
          transform: scale(1.1);
        }
      }
    }
  }
}
// End Case Studies

// Start Jobs
.jobs_wrapper {
  padding: $main_padding 0;
  background-color: $we_do_bg_color;
  .all_jobs {
    margin-top: 30px;
    .every_job {
      background-color: $white;
      border-radius: 32px;
      padding: 20px;
      display: flex;
      gap: 20px;
      min-height: 170px;
      margin-bottom: 30px;
      .job_icon {
        background-color: rgba($main_color, 0.2);
        padding: 10px 20px;
        display: flex;
        align-items: center;
        border-radius: 21px;
        opacity: 0.5;
        .img {
          width: 33px;
          height: 33px;
        }
      }
      .job_content {
        flex-grow: 1;
        .position {
          font-size: 20px;
          margin: 0;
          line-height: 30px;
        }
        .status {
          display: flex;
          gap: 10px;
          &.for_margin {
            margin: 15px 0;
          }
        }
        .with_arrow {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .arrow_link {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;
            background-color: $arrow_bg_color;
            transition: $transiton;
            &:hover {
              background-color: $main_color;
            }
          }
        }
      }
    }
  }
}
// End Jobs

// Start Partners
.partners_wrapper {
  padding: $main_padding 0;
  .all_partners {
    margin: 30px 0;

    .every_partner {
      display: flex;
      align-items: center;
      gap: 20px;
      .img {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        display: block;
        box-shadow: $shadow;
      }
      .content {
        .title {
          color: $title_color;
          font-weight: bold;
          font-size: 20px;
        }
        .description {
          line-height: $main_line_height - 12px;
          font-size: $p_font_size - 2px;
          margin: 10px 0;
          color: $bg_color;
          max-width: 90%;
          width: 100%;
        }
      }
    }
  }
}
// End Partners
